.navbarWrapper {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  justify-content: space-between;
}

.menuWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 15px;
}
