.btnWrapper {
  height: 100px;
  width: 250px;
  border: 1px dashed grey;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.btnWrapper:hover {
  cursor: pointer;
}

.plusIcon {
  font-size: 30px;
}

.taskViewBtnWrapper {
  padding: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
  box-shadow: rgba(150, 150, 150, 0.2) 0px 2px 8px 0px;
  border-radius: 7px;
}

.taskViewBtnWrapper:hover {
  cursor: pointer;
}
